<ion-item>
  <ion-label position="floating">{{ 'departures.departure-count' | translate }}</ion-label>
  <ion-input type="number" min="1" max="10" [formControl]="departureCount"></ion-input>
</ion-item>
<ion-text *ngIf="departureCount.invalid && (departureCount.dirty || departureCount.touched)" color="danger">
  {{ 'shared.inputs.restraints.range' | translate: { lower: '1', upper: '10' } }}</ion-text>
<ion-row style="height: 1em"></ion-row>
<ion-button (click)="submit()" [disabled]="departureCount.invalid">
  <ion-icon slot="start" name="save-outline"></ion-icon>
  {{ 'shared.inputs.save' | translate }}
</ion-button>
<ion-button class="ion-float-right" fill="clear" color="danger" (click)="removeStationFromFavorites()">
  <ion-icon slot="start" name="trash-outline"></ion-icon>
  {{ 'shared.inputs.delete' | translate }}
</ion-button>
