ion-avatar {
    --border-radius: 0px;
}

ion-note {
    color: #000;
    padding: 12px 0 10px 0;
}

.color-on-time {
    color: var(--ion-color-success-shade);
}

.color-late {
    color: var(--ion-color-danger);
}

.color-early {
    color: var(--ion-color-warning);
}

.color-departed {
    color: var(--ion-color-medium)
}

.filter-grayscale {
    filter: grayscale(100%);
}