ion-avatar {
    --border-radius: 0px;
    margin-left: unset;
    margin-inline-start: -16px;
}

ion-note {
    color: var(--ion-text-color);
    padding: 12px 0 10px 0;
    margin-right: -5px;
    margin-left: 8px;
}

.color-on-time {
    color: var(--ion-color-success-shade);
}

.color-late {
    color: var(--ion-color-danger);
}

.color-early {
    color: var(--ion-color-warning);
}

.color-departed {
    color: var(--ion-color-medium)
}

.filter-grayscale {
    filter: grayscale(100%);
}

.strikethrough {
    text-decoration: line-through;
}