ion-avatar {
    --border-radius: 0px;
    margin-left: unset;
    margin-inline-start: -16px;
}

ion-note {
    color: var(--ion-text-color);
    padding: 12px 0 10px 0;
    margin-right: -5px;
    margin-left: 8px;
}

.filter-grayscale {
    filter: grayscale(100%);
}

.strikethrough {
    text-decoration: line-through;
}