<title>{{ 'departures.title' | translate }} – DVBetter</title>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-float-start">
      {{ 'departures.title' | translate }}
    </ion-title>
    <app-title class="ion-float-end"></app-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="4">
        <app-departures-card-quick-search></app-departures-card-quick-search>
      </ion-col>
      <ion-col *ngFor="let monitoredStation of monitoredStations" size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="4">
        <app-departures-card-favorite [monitoredStation]="monitoredStation"></app-departures-card-favorite>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
