<ion-card>
  <ion-card-header>
    <ion-card-title>
      Rankestraße
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list *ngIf="departures">
      <app-departure-item *ngFor="let departure of departures" [departure]="departure"></app-departure-item>
    </ion-list>
    <ion-list *ngIf="!departures">
      <ion-item *ngFor="let skeleton of skeletons">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card> 
