<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="departures" 
        (click)="titleService.setTitle('Departures – DVBetter')">
        <ion-icon name="train-outline"></ion-icon>
        <ion-label>Departures</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings" 
        (click)="titleService.setTitle('Settings – DVBetter')">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
