<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="departures" 
        (click)="titleService.setTitle(translateService.instant('departures.title') + ' – DVBetter')">
        <ion-icon name="train-outline"></ion-icon>
        <ion-label>{{ 'departures.title' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings" 
        (click)="titleService.setTitle(translateService.instant('settings.title') + ' – DVBetter')">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>{{ 'settings.title' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
