<ion-item>
  <ion-label position="floating">Choose station</ion-label>
  <ion-input type="text" debounce="250" (ionInput)="getMatchingStations($event)" [formControl]="stationName"></ion-input>
</ion-item>
<ion-text *ngIf="stationName.invalid && (stationName.dirty || stationName.touched)" color="danger">Please choose a valid station.</ion-text>
<ion-list>
  <ion-item *ngFor="let matchingStation of matchingStations" button (click)="selectStation(matchingStation)">
    <ion-label>
      <h2>{{matchingStation.name}}</h2>
      <ion-card-subtitle>{{matchingStation.city}}</ion-card-subtitle>
    </ion-label>
  </ion-item>
</ion-list>
<ion-item>
  <ion-label position="floating">Departure count</ion-label>
  <ion-input type="number" min="1" max="10" [formControl]="departureCount"></ion-input>
</ion-item>
<ion-text *ngIf="departureCount.invalid && (departureCount.dirty || departureCount.touched)" color="danger">Please enter a number between 1 and 10.</ion-text>
<ion-row style="height: 1em"></ion-row>
<ion-button (click)="submit()" [disabled]="!isFormValid">
  <ion-icon slot="start" name="save-outline"></ion-icon>
  Save
</ion-button>
<ion-button class="ion-float-right" fill="clear" color="danger">
  <ion-icon slot="start" name="trash-outline"></ion-icon>
  Delete
</ion-button>
