<ion-item>
  <ion-label position="floating">{{ 'shared.inputs.station' | translate }}</ion-label>
  <ion-input type="text" debounce="250" (ionInput)="onInput($event)" [formControl]="stationName"></ion-input>
</ion-item>
<ion-text *ngIf="!selectedStation && (stationName.dirty || stationName.touched)" color="danger">
  {{ 'shared.inputs.restraints.station' | translate }}</ion-text>
<ion-list>
  <ion-item *ngFor="let matchingStation of matchingStations" button (click)="onSelect(matchingStation)">
    <ion-label>
      <h2>{{matchingStation.name}}</h2>
      <ion-card-subtitle>{{matchingStation.city}}</ion-card-subtitle>
    </ion-label>
  </ion-item>
</ion-list>
