<title>{{ 'settings.title' | translate }} – DVBetter</title>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-float-start">{{ 'settings.title' | translate }}</ion-title>
    <app-title class="ion-float-end"></app-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="divider"></div>
  <app-settings-language-picker></app-settings-language-picker>
  <div class="container">
    <app-settings-about></app-settings-about>
  </div>
</ion-content>
